.news-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news{
    display: flex;
    flex-direction: column;
    width: 421px;
    height: 448px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 30px;
}
.news button{
    border-radius: 50px;
    

}
.news h2,
.news time{
    color: black;
}